# blacklist everything
*
!*/

# shithub
!/.github/workflows/*.yml

# shitcode
!/.vscode/tasks.json

# git
!/.gitignore # <insert a recursive meme>
!/.gitmodules
!/.gitattributes

# js stuff
!/package.json
!/lerna.json
!/pnpm-lock.yaml
!/pnpm-workspace.yaml
!/.prettierrc
!/.prettierignore
# shared by pkgs
!/tsconfig.json
!/.npmignore

# useful stuff
!/.editorconfig
!/.cruft.json

# packages
!/pkg/*/src/**/*.ts
!/pkg/*/test/**/*.ts
!/pkg/*/package.json
!/pkg/*/pnpm-lock.yaml
!/pkg/*/tsconfig.json
!/pkg/*/.npmignore

#playwright test
!/pkg/browser/playwright.config.ts
!/pkg/browser/tests/**
!/pkg/browser/public/index.html

# shitdocs
!/docs/**/*.md
!/docs/.vitepress/config.mts
!/docs/statements/**/*
!/README.md
!/LICENSE

node_modules

# pocketbase files
!/pkg/**/*.pb.js
