# blacklist everything
*
!*/

# shithub
!/.github/workflows/*.yml

# shitcode
!/.vscode/tasks.json

# git
!/.gitignore # <insert a recursive meme>
!/.gitmodules
!/.gitattributes

# js stuff
!/package.json
!/pnpm-lock.yaml
!/pnpm-workspace.yaml
!/.prettierrc
!/.prettierignore
# shared by pkgs
!/tsconfig.json
!/.npmignore

# useful stuff
!/.editorconfig
!/.cruft.json

# packages
!/pkg/*/src/**/*.ts
!/pkg/*/test/**/*.ts
!/pkg/*/package.json
!/pkg/*/pnpm-lock.yaml
!/pkg/*/tsconfig.json
!/pkg/*/.npmignore

# build script
!/fixup.sh
