*
!*/

!/package.json

!/build/esm/src/**/*.js
!/build/esm/src/**/*.js.map
!/build/esm/src/**/*.d.ts

!/build/cjs/package.json
!/build/cjs/src/**/*.js
!/build/cjs/src/**/*.js.map
!/build/cjs/src/**/*.d.ts
