# SPDX-FileCopyrightText: 2024 Dyne.org foundation
#
# SPDX-License-Identifier: AGPL-3.0-or-later

# blacklist everything
*
*/

# shithub
!/.github/workflows/*.yml

# shitcode
!/.vscode/tasks.json

# useful stuff
!/.cruft.json
!/.eslintrc.js
!/.prettierrc
!/jest.config.ts
!/package.json
!/tsconfig.json
!/pnpm-workspaces.yaml

# packages
pkg/*/node_modules/
!/pkg/*/package.json
!/pkg/**/*.ts
!/pkg/**/*.test.ts
