# blacklist everything
# *
# */

# shithub
!/.github/workflows/*.yml

# shitcode
!/.vscode/tasks.json

# useful stuff
!/.cruft.json
!/.eslintrc.js
!/.prettierrc
!/jest.config.ts
!/package.json
!/tsconfig.json
!/pnpm-workspaces.yaml

# packages
pkg/*/node_modules/
!/pkg/*/package.json
!/pkg/**/*.ts
!/pkg/**/*.test.ts
